rich==14.0.0
ale-py==0.10.1
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-plugin-wit==1.8.1
omegaconf==2.3.0
Markdown==3.7
google-auth==2.40.3
jsonargparse==4.40.0
setuptools==70.3.0
setuptools==75.3.2
toolz==0.9.0
toolz==1.0.0
fonttools==4.56.0
threadpoolctl==3.5.0
typing_extensions==4.13.2
conda-package-handling==2.3.0
pip==25.0.1
pip==24.3.1
pickleshare==0.7.5
sentry-sdk==2.24.1
noisyenv==0.1.1
aiosignal==1.3.1
absl-py==2.1.0
ruamel.yaml==0.18.6
pydantic_core==2.27.2
scikit-image==0.21.0
conda==24.9.2
parso==0.8.4
glfw==2.8.0
aiohappyeyeballs==2.4.4
bitsandbytes==0.45.5
nvidia-cusolver-cu11==11.4.1.48
async-timeout==5.0.1
imageio==2.35.1
matplotlib==3.7.5
opencv-python==4.11.0.86
sympy==1.13.3
torchmetrics==1.5.2
jsonschema==4.23.0
six==1.16.0
six==1.17.0
nbformat==5.10.4
tensorflow-probability==0.7.0
mujoco-py==2.1.2.14
joblib==1.4.2
torchaudio==2.4.1+cu118
nvidia-nccl-cu11==2.20.5
seaborn==0.13.2
fastjsonschema==2.21.1
nvidia-cusparse-cu11==11.7.5.86
fasteners==0.19
Cython==0.29.24
kalepy==1.4.3
ruamel.yaml.clib==0.2.8
eval_type_backport==0.2.2
tinycss2==1.2.1
numpy==1.24.4
numpy==1.23.5
nbclient==0.10.1
gym==0.26.2
tornado==6.4.2
tornado==6.2
rpds-py==0.20.1
dsrl==0.1.0
mujoco==2.3.0
grpcio==1.70.0
tifffile==2023.7.10
nvidia-cublas-cu11==11.11.3.6
dm-env==1.6
google==3.0.0
protobuf==3.20.3
scipy==1.8.0
cycler==0.12.1
packaging==24.1
flatbuffers==25.2.10
labmaze==1.0.6
fsspec==2025.3.0
nvidia-cudnn-cu11==9.1.0.70
aiohttp==3.10.11
xmltodict==0.14.2
patchelf==0.17.2.1
ipython==8.12.3
pexpect==4.9.0
platformdirs==3.10.0
py-spy==0.4.0
opencv-python-headless==4.11.0.86
statsmodels==0.14.1
nvidia-cuda-cupti-cu11==11.8.87
gym-notices==0.0.8
wheel==0.44.0
dm_control==1.0.23
jupyterlab_pygments==0.3.0
decorator==5.2.1
keras==2.10.0
lazy_loader==0.4
hydra-core==1.3.2
attrs==25.1.0
jax-jumpy==1.0.0
referencing==0.35.1
torch==2.4.1+cu118
yarg==0.1.9
typeshed_client==2.7.0
antlr4-python3-runtime==4.9.3
cloudpickle==3.1.1
etils==1.3.0
lightning==2.3.3
matplotlib-inline==0.1.7
Pygments==2.19.1
stack-data==0.6.3
dm-tree==0.1.8
setproctitle==1.3.5
hf-xet==1.1.5
Werkzeug==3.0.6
atari-py==0.2.9
contourpy==1.1.1
bleach==6.1.0
boltons==23.0.0
defusedxml==0.7.1
nest_asyncio==1.6.0
safety-gymnasium==0.4.0
propcache==0.2.0
cachetools==4.2.4
markdown-it-py==3.0.0
google-pasta==0.2.0
libclang==18.1.1
click==8.1.8
tensorboardX==2.6.2.2
Keras-Preprocessing==1.1.2
asttokens==3.0.0
mpmath==1.3.0
jedi==0.19.2
frozenlist==1.5.0
gymnasium==0.28.1
scikit-learn==1.3.2
beautifulsoup4==4.13.3
psutil==5.9.8
psutil==7.0.0
termcolor==2.4.0
networkx==3.1
cffi==1.17.1
tqdm==4.66.5
GitPython==3.1.44
tzdata==2025.1
numba==0.58.1
nvidia-cuda-runtime-cu11==11.8.89
pyzmq==24.0.1
pyzmq==26.4.0
lz4==4.3.3
tensorboard-data-server==0.7.2
jsonschema-specifications==2023.12.1
multidict==6.1.0
idna==3.7
Jinja2==3.1.4
certifi==2024.8.30
PySocks==1.7.1
frozendict==2.4.2
tensorflow-estimator==2.10.0
huggingface-sb3==3.0
stable_baselines3==2.4.1
pybullet==3.2.7
ptyprocess==0.7.0
pyasn1==0.6.1
importlib_resources==6.4.5
conda_package_streaming==0.10.0
gitdb==4.0.12
mjrl==1.0.0
pycparser==2.21
pytz==2025.1
charset-normalizer==3.3.2
h5py==2.10.0
PyWavelets==1.4.1
debugpy==1.6.7
zipp==3.21.0
zstandard==0.23.0
lightning-utilities==0.11.9
PyOpenGL==3.1.9
annotated-types==0.7.0
docstring_parser==0.16
traitlets==5.14.3
pyOpenSSL==24.2.1
pandas==2.0.3
jupyter_client==8.6.3
wandb==0.19.8
pyasn1_modules==0.4.1
nvidia-cufft-cu11==10.9.0.58
urllib3==2.2.3
redis==5.2.1
uritemplate==3.0.0
google-auth-oauthlib==1.0.0
torch-tb-profiler==0.4.3
nvidia-curand-cu11==10.3.0.86
backports.zoneinfo==0.2.1
docker-pycreds==0.4.0
mdurl==0.1.2
MarkupSafe==2.1.5
yarl==1.15.2
conda-libmamba-solver==24.9.0
libmambapy==1.5.8
bullet-safety-gym==1.4.0
wcwidth==0.2.13
requests==2.32.3
gmpy2==2.1.2
tensorflow-io-gcs-filesystem==0.34.0
docopt==0.6.2
nvidia-nvtx-cu11==11.8.86
soupsieve==2.6
sb3_contrib==2.4.0
pydantic==2.10.6
jupyter_core==5.7.2
llvmlite==0.41.1
prompt_toolkit==3.0.50
prompt_toolkit==3.0.51
backcall==0.2.0
ray==0.8.4
distro==1.9.0
kiwisolver==1.4.7
pycosat==0.6.6
pkgutil_resolve_name==1.3.10
pyparsing==3.1.4
jsonpatch==1.33
pure_eval==0.2.3
python-dateutil==2.8.2
wasabi==1.1.3
sbx==0.1.1
pytorch-lightning==2.4.0
torchvision==0.19.1+cu118
patsy==1.0.1
wrapt==1.17.2
pillow==10.4.0
triton==3.0.0
menuinst==2.2.0
webencodings==0.5.1
executing==2.2.0
PyYAML==6.0.2
cryptography==42.0.8
faiss-gpu-cu11==1.8.0.2
oauthlib==3.2.2
requests-oauthlib==2.0.0
pandocfilters==1.5.1
Farama-Notifications==0.0.4
ipykernel==6.29.5
tzlocal==5.2
nbconvert==7.16.6
smmap==5.0.2
huggingface-hub==0.33.2
lxml==5.3.1
gast==0.3.3
pygame==2.1.0
importlib_metadata==8.5.0
Brotli==1.0.9
nvidia-cuda-nvrtc-cu11==11.8.89
pluggy==1.0.0
archspec==0.2.3
rsa==4.9
pipreqs==0.5.0
mistune==3.1.3
colorama==0.4.6
filelock==3.16.1
jsonpointer==2.1
astunparse==1.6.3
opt_einsum==3.4.0
comm==0.2.2
